@import "tailwindcss";

/* Tailwind'de değişken tanımlama */
@theme {
  /* kendi renk tronlarımı */
  --color-black: #0f0f0f;
  --color-white: #ffffff;
  --color-grey: #3f3f3f;
}

/* JSX Elementlerine varsayılan stiller verelim */
@layer base {
  button,
  a {
    @apply cursor-pointer;
  }

  body {
    @apply bg-black text-white;
  }
}

/* Tailwind ile stillendirilmiş kendi class'larımızı oluşturalım */
@layer components {
  .icon {
    @apply p-2 hover:bg-zinc-700 transition rounded-full;
  }

  .page {
    @apply h-[calc(100vh-56px)] w-full flex-1 py-6 px-4;
  }

  .comment-field {
    @apply hover:bg-zinc-700 cursor-pointer transition px-2 py-1 rounded;
  }
}
